<h1>welcome to imdb crawler</h1>
<form  action="/answer/l" method="post" >
    <h3>enter the rating</h3>
    <input type="number" step="0.1" name="rating">
    <button type="submit">submit</button>
</form>

